@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  /* 先套用 Noto Sans TC 這個 思源黑體 */
  font-family: 'Noto Sans TC', sans-serif;
  color: #FFFFFF;
	text-decoration: none;
  line-height: 24px;
  background: #000;
}

a {
    color:#FFFFFF;
  text-decoration: none;
}

*,*:before,*:after{
    box-sizing: border-box;
}

img{
  max-width:100%;
  height: auto;
}
/*-------------------------------------*/

.wrap{
  margin: 0 auto;
}

.startAi{
  background: #000;
  max-width: 1296px;
  margin: 0 auto;
}

.header{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #FFFFFF;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
}
.logo img{
	height: 40px;
	width: 188.99px;
}
.header li{
	margin-left: 20px;
	line-height: 150%;
}
.nav ul{
	margin-top: 8px;
	display: flex;
}

.nav img{
	display: none;
	margin-top: 50px;
}



.intro h1{
	font-size: 120px;
	line-height: 120%;
  margin-bottom: 60px;
	font-weight: 900;
}
.startbtn{
  font-weight: 900;
  font-size: 20px;
	border: 1px solid #FFFFFF;
	border-radius: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}

.startbtn:hover{
	background: #FFFFFF;
	color: #020202;
}

/*--------------------------*/
.animate{
	display: flex;
	justify-content: flex-end;
	padding-top: 100px;
  margin-bottom: 160px;
  }
  
  /*box範圍*/
  .box1,.box2,.box3{
	width: 180px;
	height: 180px;
	position: relative;
	overflow: hidden;   /*隱藏超出的部分*/
  }
  
  .arrow1,.arrow2,.arrow3{
	width: 20px;
	height: 180px;
	background: #FFFFFF;
	position: absolute;
	left: 50%;
	transform: translateX(-50%); /*直線的-50%是中心點 <以止作定位*/
  }
  
  .arrow1::after,
  .arrow2::after,
  .arrow3::after {
	content: "";
	border: 20px solid #FFFFFF;
	border-radius:0 100% 0 0;
	border-bottom: none;
	border-left: none;
	  width: 100px;
	  height: 100px;
	position: absolute;
	bottom: 0;
	right: 0;
  }
  
  .arrow1::before,
  .arrow2::before,
  .arrow3::before {
	content: "";
	border: 20px solid #FFFFFF;
	border-radius:100% 0 0 0;
	border-bottom: none;
	border-right: none;
	  width: 100px;
	  height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
  }

  /*--------------------------*/
  .service{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
  }
  
h2{
  font-weight: 900;
	font-size: 32px;
}

  .service h2{
	max-width: 414px;
	margin-right: 24px;
  }
  .service h3{
	max-width: 856px;
	font-size: 48px;
    line-height: 57.6px;
  }
.service ul{
  
  width: 100%;
  display: flex;
  justify-content: space-between;
}
  .feature{
	max-width: 32.1%;
	padding: 40px;
  border: 1px solid #525252;
	border-radius: 16px;
  }
  .feature img{
	padding-top: 46.67px;
	padding-bottom: 26.67px;
  }
  .feature p{
	padding-top: 20px;
	padding-bottom: 40px;
	max-width: 336px;
	font-size: 16px;
  }

/*-------------*/
h3{
  font-size: 32px;
  font-weight: 900;
  line-height: 38px;
  color: #FFFFFF;
  margin-bottom: 80px;
}

.partner{
  margin: 0 auto;
  background: #000;
  max-width: 1296px;
  position: relative;
  margin-top: 160px;
}

.partner ul{
  /*負數使ul從partner範圍外排列*/
  margin-left: -80px;
  margin-right: -80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1456px;
}
.partner li{
  /*使每個logo中間隔間20px*/
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}
.partner img{
  max-width: 160px;
}
.mask{
  position: relative;
  /*用overflow: hidden隱藏了logo的超出範圍*/
  overflow: hidden;
  max-width: 100%;
}

/*黑色漸層(L)*/
.mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-image: linear-gradient(to right, rgb(0, 0, 0) 20%, transparent 100%);
  width: 150px;
}
/*黑色漸層(R)*/
.mask::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: linear-gradient(to left, rgb(0, 0, 0) 20%, transparent 100%);
  width: 150px;
}
/*z-index設定元素的堆疊順序，設定值越高越前面，可以為負數，例如：z-index: -1。另外要注意的是z-index只能在有設定位（position）的元素上才會奏效。*/


/*-------------滑動效果---------------*/
.swiper {
  max-width: 1296px;
  color: #FFFFFF;
  background: #020202;
  margin-top: 160px;

  
  --swiper-pagination-color: #FFFFFF;
  --swiper-pagination-bullet-inactive-color: #525252; /*inactive點點顏色*/
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-horizontal-gap: 8px; /*點點間距是８*/ 
}
.swiper-pagination{
  position: static;
}

.swiper-pagination-bullet-active {
  transform: scale(1.5); /*active點點間放大1.5倍*/
}

.swiper-wrapper{
  max-width: 416px;
}

.swiper-slide{
  left: -12px;
  max-width: 416px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  background: #FFFFFF14;
  border-radius: 16px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rating{
  padding-left: 20px;
  padding-right: 20px;
  max-width: 351px;
  height: auto;
}

.star{ 
  margin-top: 20px;
  margin-left: -5px;
}

.star span{
  letter-spacing: -7px;
}

.comment{

  height: auto;
  padding-bottom: 20px;
}

.clientInfo{
margin-bottom: 20px;
  width: 351px;
  display: flex;
}

.clientInfo img{
  margin-left: 20px;

}

.info{
  margin-left: 16px;


}

.name{
  font-size: 16px;
  font-weight: 700;
}

.co{
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' -25,
  'opsz' 20
}
/*--------------------------------*/

.swiper-pagination{
  display: none;
}

/*-------------iPad以下---------------*/
@media(max-width:767px){
  
.header{
   margin-top: 8px;
  }

.header, .intro, .service, .partner{
  margin-left: 12px;
  margin-right: 12px;
  }  
  
.wrap{
  width: 100%;
}

.nav img{
	display:block;
	margin-top: auto;
}
.nav ul{
	display: none;
}

.intro h1{
font-size: 48px;
line-height: 58px;
}

  .service h2{
font-size: 20px;
  }
  
  .service h3{
    margin-top: 24px;
font-size: 32px;
line-height: 38px;
  }
  
  .feature{
    margin-bottom: 12px;
  }
  
.service ul{
    max-width: 100%;
    flex-wrap: wrap;
  justify-content: center;
  }  
  
.feature{
	max-width: 100%;
  }

  .swiper{
  margin: 0 auto;
   max-width: 375px;
    margin-top: 60px;
    display: block;
  }
  
  .swiper-slide{
    max-width: 351px;
    left: 0px;
  }
 
  .swiper-pagination{
  display: block;
}
  .animate{
    justify-content: center;
  }
  
  .box1,.box2,.box3{
	width: 117px;
	height: 117px;
    
}
  .arrow1,.arrow2,.arrow3{
    width: 13px;
	height: 117px;
    
  }
  .arrow1::after,
  .arrow2::after,
  .arrow3::after{
    width: 66px;
	  height: 66px;
    border: 13px solid #FFFFFF;
    border-bottom: none;
    border-left: none;
    
  }
  .arrow1::before,
  .arrow2::before,
  .arrow3::before{
    width: 66px;
	  height: 66px;
    border: 13px solid #FFFFFF;
      border-bottom: none;
	border-right: none;
  }
}
/*---------------Ai工具頁面-----------------*/

.aiToolsWrap{
  margin-top: 160px;
  padding-top: 160px;
  padding-bottom: 162px;
  border-radius: 160px;
  background: #FFFFFF;
  width: 100%;
}

.aiTools{
  max-width: 1296px;
  margin: 0 auto;
position: relative;
background: #FFFFFF;
}

h4{
font-weight: 900;
font-size: 80px;
line-height: 120%;
text-align: center;
color: #020202;
}

.searchIcon{
position: absolute;
left: 40px;
transform: translateY(-50%);
color: #919191;
z-index: 1;
top: 203px;
}

.searchBar{
margin-top: 80px;
background: #F2F2F2;
border-radius: 16px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 76px;
font-size: 16px;
border: none;
width: 100%;
}

.filter{
margin-top: 40px;
display: flex;
justify-content: space-between;
align-items: center
}

.topicBtn ul{
width: 544px;
}

.topicBtn li{
padding-left: 16px;
padding-right: 16px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 16px;
text-align: center;
color: #919191;
line-height: 150%;
}

.topicBtn .allBtn{
background: #F2F2F2;
font-weight: 700;
color: #020202;
line-height: 150%;
}




.filterBtn{
padding-top: 20px;
padding-bottom: 20px;
padding-left: 40px;
border-radius: 16px;
border: 1px solid #F2F2F2;
text-decoration: none;
line-height: 150%;
color: #020202;

}

.filterBtn span{
margin-left: 12px;
padding-right: 32px;
font-size: 16px;
}

.tools{
margin-top: 40px;
}

.aiTools ul{
display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
color: #020202;
width: 416px;
border: 1px solid #F2F2F2;
border-radius: 16px;
margin-bottom: 22px;
overflow: hidden;

}
/*放大效果參考 https://www.webdesigns.com.tw/css-zoom_in.asp*/
.cover{
height: 312px;
width: 416px;
/*隱藏在圖片放大時超出的部分*/
overflow: hidden; 
}
/*滑鼠移入card時->觸發hover->"cover框"->內的"img"*/
.card:hover .cover img{
transform:scale(1.2,1.2);
transition: all 0.5s ease-out;/*0.5秒 緩出效果*/
}

.cardHeader{
height: 118px;
width: 416px;
padding-left: 32px;
padding-right: 32px;
}
.cardHeader h1{
font-size: 20px;
font-weight: 900;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
padding-top: 20px;
padding-bottom: 12px;

}
.cardHeader p{
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #525252;
}

.content{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.topic, .hashtag{
border-top: 1px solid #F2F2F2;
width: 50%;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 32px;
padding-right: 32px;
}


.author, .link{
border-top: 1px solid #F2F2F2;
text-align: right;
width: 50%;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 32px;
padding-right: 32px;
}

.topic{
  font-weight: 700;
line-height: 150%;
}
.link a{
text-decoration: none;
color: #020202;
}

.aipagination{
--active-index: 0;
display: flex;
justify-content: flex-end;
font-weight: 700;
font-size: 14px;
line-height: 150%;
color: #FFFFFF;
}

.aipagination li {
text-align: center;
margin: 0 4px;
}

.aipagination li a{
display: block;
color: #020202;
text-decoration: none;
transition: 0.3s;
width: 48px;
height: 48px;
border-radius: 16px;
line-height: 320%;
}

.aipagination li a.next{
line-height: 400%;
}

.aipagination li.page-number:hover a {
color: white;
background: #777;
    }

.aipagination li.page-number.active a {
color: white;
background: #020202;
    }

.aipagination li a.next:hover span {
color: hsl(0, 0%, 50%);
}
/*---------------頁尾-----------------*/
.aiFooter{
  background: #000;
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerbtn{
  padding-right: 32px;
  width: 188px;
}

.footerbtn span{
  margin-left: 12px;
  font-size: 17px;
}

.aiFooter h2{
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 336px;
  padding-right: 336px;
  text-align: center;
}

.footermenu{
  max-width: 1296px;
  margin: 0 auto;
  margin-top: 160px;
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.footermenu h4{
  color: #FFFFFF;
}


.footerlogo{
  width: 244.99px;
  height: 40px;
}

.footerlink{
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.follow{
  padding-top: 12px;
  padding-bottom: 12px;
}

.follow ul{
  display: flex;
  text-align: center;
}
.sns{
margin-right: 20px;
}

.copyright{
  margin-right: 100px;
}

.back{
  padding-top: 12px;
  padding-bottom: 12px;
}
.back span{
  width: 16px;
  height: 16px;
  font-size: 13px;
  margin-left: 12px;
}