@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
  /* 先套用 Noto Sans TC 這個 思源黑體 */
  font-family: 'Noto Sans TC', sans-serif;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, body a{
	font-family: 'Noto Sans TC', sans-serif;
	background-color : #020202;
	color: #FFFFFF;
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
  }

*,*:before,*:after{
    box-sizing: border-box;
}

.wrap{
	max-width: 1296px;
	margin: 0 auto;
}	

.header{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #FFFFFF;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
}
.logo img{
	height: 40px;
	width: 188.99px;
}
.header li{
	border: 1px solid #ffcc26;
	margin-left: 20px;
	line-height: 150%;
}
.nav ul{
	margin-top: 8px;
	display: flex;
}

.nav img{
	display: none;
	margin-top: 50px;
}

.nav{
	border: 1px solid #2ee7ff;
}

.intro{
	border: 1px solid #ffe600;
}

/*在 iPhone 直式下變更樣式--------------------------------------------*/
@media(max-width:767px){
.wrap{
	padding: 12px;
}

.nav img{
	display:block;
	border: 1px solid #dae907;
	margin-top: auto;
}
.nav ul{
	display: none;
}
.wrap{
	width: 100%;
}

.intro{

}
}

/*在 iPhone 直式下變更樣式--------------------------------------------*/
.intro h1{
	border: 1px solid #ff9292;
	font-size: 120px;
	line-height: 120%;
	padding-bottom: 40px;
	font-weight: 900;
}
.intro a{
	border: 1px solid #FFFFFF;
	border-radius: 16px;
	display: block;
	width: 160px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}
.intro a:hover{
	background: #FFFFFF;
	color: #020202;
}

/*--------------------------*/
.animate{
	border: 1px solid #ff00bf;
	display: flex;
	justify-content: flex-end;
	padding-top: 100px;
  }
  
  /*box範圍*/
  .box1,.box2,.box3{
	width: 180px;
	height: 180px;
	position: relative;
	overflow: hidden;   /*隱藏超出的部分*/
  }
  
  .arrow1,.arrow2,.arrow3{
	width: 20px;
	height: 180px;
	background: #FFFFFF;
	position: absolute;
	left: 50%;
	transform: translateX(-50%); /*直線的-50%是中心點 <以止作定位*/
  }
  
  .arrow1::after,
  .arrow2::after,
  .arrow3::after {
	content: "";
	border: 20px solid #FFFFFF;
	border-radius:0 100% 0 0;
	border-bottom: none;
	border-left: none;
	  width: 100px;
	  height: 100px;
	position: absolute;
	bottom: 0;
	right: 0;
  }
  
  .arrow1::before,
  .arrow2::before,
  .arrow3::before {
	content: "";
	border: 20px solid #FFFFFF;
	border-radius:100% 0 0 0;
	border-bottom: none;
	border-right: none;
	  width: 100px;
	  height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
  }
  /*--------------------------*/
  .service{
	display: flex;
	flex-wrap: wrap;
  }
  
h2{
	font-size: 32px;
	background: #14cc76;
}

  .service h2{
	width: 414px;
	margin-right: 24px;
  }
  .service h3{
	width: 856px;
	background: #2ad4ff;
	font-size: 48px;
  }
  .feature{
	width: 416px;
	padding: 40px;
	border: 1px solid #fffb01;
	border-radius: 16px;
  }
  .feature img{
	padding-top: 46.67px;
	padding-bottom: 26.67px;
  }
  .feature p{
	padding-top: 20px;
	padding-bottom: 40px;
	width: 336px;
	font-size: 16px;
	line-height: 24px;
  }
